* {
  --black: #06070E;
  --olive: #29524A;
  --sage: #94A187;
  --eggshell: #F7F7F2;
  --navy: #102542;
  --white: #FFFF;
  --black-pure: black;
}

body {
  width: 90%;
  min-width: 600px;
}

nav {
  left: 0;
  position: fixed;
  height: 100%;
  padding-inline-end: 1em;
  background-color: var(--eggshell);
}

h1 {
  color: var(--olive);
}

ul {
  list-style-type: none;
}

div, footer{
  margin-left: 160px;
  padding: 0px 10px;
}

a {
  text-decoration: none;
  color: var(--black-pure);
}

a:hover {
  background-color: var(--sage);
  color: var(--olive);
}